<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Contact Information</h3>
    <p>
      <b>Name:</b>
      <%= @agreement.name %>

      <b>Telephone:</b>
      <%= number_to_phone(@agreement.phone, :area_code => true) %>
    </p>

    <p>
      <b>Email:</b>
      <%= @agreement.email %>

      <b>Mailbox:</b>
      <%= @agreement.box %>
    </p>

    <br />

    <h3>Performance Information</h3>
    <p>
      <b>Title of Performance:</b>
      <%= @agreement.title %>
    </p>

    <p>
      <b>Performance Start Date:</b>
      <%= (@agreement.perfstart) %>

      <b>Performance End Date:</b>
      <%= (@agreement.perfend) %>
    </p>

    <p>
      <b>Due Date:</b>
      <%= (@agreement.duedate) %>

      <b>Financer:</b>
      <%= @agreement.financer %>
    </p>

    <br />

<h3>Costumes</h3>
<div style="width:70%;">
  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">
    #
  </div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    Back?
  </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    Photo
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    W/D
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    Garment Description
  </div>  

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">1</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back00 == nil || @agreement.back00 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo00}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd00 != nil %>
      ?
    <% end %>
    <%= @agreement.wd00 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item00 != "" %>
      Null
    <% end %>
    <%= @agreement.item00 %>
  </div>

<div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">2</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back01 == nil || @agreement.back01 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo01}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd01 != nil %>
      ?
    <% end %>
    <%= @agreement.wd01 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item01 != "" %>
      Null
    <% end %>
    <%= @agreement.item01 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">3</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back02 == nil || @agreement.back02 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo02}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd02 != nil %>
      ?
    <% end %>
    <%= @agreement.wd02 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item02 != "" %>
      Null
    <% end %>
    <%= @agreement.item02 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">4</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back03 == nil || @agreement.back03 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo03}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd03 != nil %>
      ?
    <% end %>
    <%= @agreement.wd03 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item03 != "" %>
      Null
    <% end %>
    <%= @agreement.item03 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">5</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back04 == nil || @agreement.back04 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo04}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd04 != nil %>
      ?
    <% end %>
    <%= @agreement.wd04 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item04 != "" %>
      Null
    <% end %>
    <%= @agreement.item04 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">6</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back05 == nil || @agreement.back05 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo05}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd05 != nil %>
      ?
    <% end %>
    <%= @agreement.wd05 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item05 != "" %>
      Null
    <% end %>
    <%= @agreement.item05 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">7</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back06 == nil || @agreement.back06 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo06}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd06 != nil %>
      ?
    <% end %>
    <%= @agreement.wd06 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item06 != "" %>
      Null
    <% end %>
    <%= @agreement.item06 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">8</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back07 == nil || @agreement.back07 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo07}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd07 != nil %>
      ?
    <% end %>
    <%= @agreement.wd07 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item07 != "" %>
      Null
    <% end %>
    <%= @agreement.item07 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">9</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back08 == nil || @agreement.back08 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo08}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd08 != nil %>
      ?
    <% end %>
    <%= @agreement.wd08 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item08 != "" %>
      Null
    <% end %>
    <%= @agreement.item08 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">10</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back09 == nil || @agreement.back09 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo09}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd09 != nil %>
      ?
    <% end %>
    <%= @agreement.wd09 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item09 != "" %>
      Null
    <% end %>
    <%= @agreement.item09 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">11</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back10 == nil || @agreement.back10 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo10}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd10 != nil %>
      ?
    <% end %>
    <%= @agreement.wd10 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item10 != "" %>
      Null
    <% end %>
    <%= @agreement.item10 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">12</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back11 == nil || @agreement.back11 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo11}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd11 != nil %>
      ?
    <% end %>
    <%= @agreement.wd11 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item11 != "" %>
      Null
    <% end %>
    <%= @agreement.item11 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">13</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back12 == nil || @agreement.back12 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo12}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd12 != nil %>
      ?
    <% end %>
    <%= @agreement.wd12 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item12 != "" %>
      Null
    <% end %>
    <%= @agreement.item12 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">14</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back13 == nil || @agreement.back13 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo13}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd13 != nil %>
      ?
    <% end %>
    <%= @agreement.wd13 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item13 != "" %>
      Null
    <% end %>
    <%= @agreement.item13 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">15</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back14 == nil || @agreement.back14 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo14}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd14 != nil %>
      ?
    <% end %>
    <%= @agreement.wd14 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item14 != "" %>
      Null
    <% end %>
    <%= @agreement.item14 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">16</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back15 == nil || @agreement.back15 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo15}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd15 != nil %>
      ?
    <% end %>
    <%= @agreement.wd15 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item15 != "" %>
      Null
    <% end %>
    <%= @agreement.item15 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">17</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back16 == nil || @agreement.back16 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo16}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd16 != nil %>
      ?
    <% end %>
    <%= @agreement.wd16 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item16 != "" %>
      Null
    <% end %>
    <%= @agreement.item16 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">18</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back17 == nil || @agreement.back17 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo17}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd17 != nil %>
      ?
    <% end %>
    <%= @agreement.wd17 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item17 != "" %>
      Null
    <% end %>
    <%= @agreement.item17 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">19</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back18 == nil || @agreement.back18 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo18}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd18 != nil %>
      ?
    <% end %>
    <%= @agreement.wd18 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item18 != "" %>
      Null
    <% end %>
    <%= @agreement.item18 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">20</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back19 == nil || @agreement.back19 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo19}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd19 != nil %>
      ?
    <% end %>
    <%= @agreement.wd19 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item19 != "" %>
      Null
    <% end %>
    <%= @agreement.item19 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">21</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back20 == nil || @agreement.back20 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo20}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd20 != nil %>
      ?
    <% end %>
    <%= @agreement.wd20 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item20 != "" %>
      Null
    <% end %>
    <%= @agreement.item20 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">22</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back21 == nil || @agreement.back21 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo21}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd21 != nil %>
      ?
    <% end %>
    <%= @agreement.wd21 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item21 != "" %>
      Null
    <% end %>
    <%= @agreement.item21 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">23</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back22 == nil || @agreement.back22 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo22}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd22 != nil %>
      ?
    <% end %>
    <%= @agreement.wd22 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item22 != "" %>
      Null
    <% end %>
    <%= @agreement.item22 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">24</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back23 == nil || @agreement.back23 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo23}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd23 != nil %>
      ?
    <% end %>
    <%= @agreement.wd23 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item23 != "" %>
      Null
    <% end %>
    <%= @agreement.item23 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">25</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back24 == nil || @agreement.back24 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo24}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd24 != nil %>
      ?
    <% end %>
    <%= @agreement.wd24 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item24 != "" %>
      Null
    <% end %>
    <%= @agreement.item24 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">26</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back25 == nil || @agreement.back25 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo25}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd25 != nil %>
      ?
    <% end %>
    <%= @agreement.wd25 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item25 != "" %>
      Null
    <% end %>
    <%= @agreement.item25 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">27</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back26 == nil || @agreement.back26 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo26}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd26 != nil %>
      ?
    <% end %>
    <%= @agreement.wd26 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item26 != "" %>
      Null
    <% end %>
    <%= @agreement.item26 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">28</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back27 == nil || @agreement.back27 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo27}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd27 != nil %>
      ?
    <% end %>
    <%= @agreement.wd27 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item27 != "" %>
      Null
    <% end %>
    <%= @agreement.item27 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">29</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back28 == nil || @agreement.back28 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo28}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd28 != nil %>
      ?
    <% end %>
    <%= @agreement.wd28 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item28 != "" %>
      Null
    <% end %>
    <%= @agreement.item28 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">30</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back29 == nil || @agreement.back29 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo29}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd29 != nil %>
      ?
    <% end %>
    <%= @agreement.wd29 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item29 != "" %>
      Null
    <% end %>
    <%= @agreement.item29 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">31</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back30 == nil || @agreement.back30 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo30}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd30 != nil %>
      ?
    <% end %>
    <%= @agreement.wd30 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item30 != "" %>
      Null
    <% end %>
    <%= @agreement.item30 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">32</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back31 == nil || @agreement.back31 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo31}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd31 != nil %>
      ?
    <% end %>
    <%= @agreement.wd31 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item31 != "" %>
      Null
    <% end %>
    <%= @agreement.item31 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">33</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back32 == nil || @agreement.back32 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo32}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd32 != nil %>
      ?
    <% end %>
    <%= @agreement.wd32 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item32 != "" %>
      Null
    <% end %>
    <%= @agreement.item32 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">34</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back33 == nil || @agreement.back33 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo33}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd33 != nil %>
      ?
    <% end %>
    <%= @agreement.wd33 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item33 != "" %>
      Null
    <% end %>
    <%= @agreement.item33 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">35</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back34 == nil || @agreement.back34 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo34}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd34 != nil %>
      ?
    <% end %>
    <%= @agreement.wd34 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item34 != "" %>
      Null
    <% end %>
    <%= @agreement.item34 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">36</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back35 == nil || @agreement.back35 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo35}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd35 != nil %>
      ?
    <% end %>
    <%= @agreement.wd35 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item35 != "" %>
      Null
    <% end %>
    <%= @agreement.item35 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">37</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back36 == nil || @agreement.back36 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo36}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd36 != nil %>
      ?
    <% end %>
    <%= @agreement.wd36 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item36 != "" %>
      Null
    <% end %>
    <%= @agreement.item36 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">38</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back37 == nil || @agreement.back37 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo37}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd37 != nil %>
      ?
    <% end %>
    <%= @agreement.wd37 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item37 != "" %>
      Null
    <% end %>
    <%= @agreement.item37 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">39</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back38 == nil || @agreement.back38 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo38}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd38 != nil %>
      ?
    <% end %>
    <%= @agreement.wd38 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item38 != "" %>
      Null
    <% end %>
    <%= @agreement.item38 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">40</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back39 == nil || @agreement.back39 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo39}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd39 != nil %>
      ?
    <% end %>
    <%= @agreement.wd39 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item39 != "" %>
      Null
    <% end %>
    <%= @agreement.item39 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">41</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back40 == nil || @agreement.back40 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo40}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd40 != nil %>
      ?
    <% end %>
    <%= @agreement.wd40 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item40 != "" %>
      Null
    <% end %>
    <%= @agreement.item40 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">42</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back41 == nil || @agreement.back41 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo41}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd41 != nil %>
      ?
    <% end %>
    <%= @agreement.wd41 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item41 != "" %>
      Null
    <% end %>
    <%= @agreement.item41 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">43</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back42 == nil || @agreement.back42 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo42}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd42 != nil %>
      ?
    <% end %>
    <%= @agreement.wd42 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item42 != "" %>
      Null
    <% end %>
    <%= @agreement.item42 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">44</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back43 == nil || @agreement.back43 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo43}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd43 != nil %>
      ?
    <% end %>
    <%= @agreement.wd43 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item43 != "" %>
      Null
    <% end %>
    <%= @agreement.item43 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">45</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back44 == nil || @agreement.back44 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo44}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd44 != nil %>
      ?
    <% end %>
    <%= @agreement.wd44 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item44 != "" %>
      Null
    <% end %>
    <%= @agreement.item44 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">46</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back45 == nil || @agreement.back45 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo45}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd45 != nil %>
      ?
    <% end %>
    <%= @agreement.wd45 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item45 != "" %>
      Null
    <% end %>
    <%= @agreement.item45 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">47</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back46 == nil || @agreement.back46 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo46}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd46 != nil %>
      ?
    <% end %>
    <%= @agreement.wd46 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item46 != "" %>
      Null
    <% end %>
    <%= @agreement.item46 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">48</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back47 == nil || @agreement.back47 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo47}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd47 != nil %>
      ?
    <% end %>
    <%= @agreement.wd47 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item47 != "" %>
      Null
    <% end %>
    <%= @agreement.item47 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">49</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back48 == nil || @agreement.back48 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo48}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd48 != nil %>
      ?
    <% end %>
    <%= @agreement.wd48 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item48 != "" %>
      Null
    <% end %>
    <%= @agreement.item48 %>
  </div>

  <div style="overflow:hidden; float:left; width:20px; text-align:center; border-bottom: 1px solid;">50</div>
  <div style="float:right; white-space:nowrap; width:50px; text-align:center; border-bottom: 1px solid;">
    <% if @agreement.back49 == nil || @agreement.back49 == false %>
      &#9744;
    <% else %>
      &#9745;
    <% end %>
    </div>
  <div style="white-space:nowrap; float:right; width:100px; text-align:center; border-bottom: 1px solid;">
    <%= link_to "Photo", "http://imgur.com/#{@agreement.photo49}",
    :target => "_blank" %>
  </div>
  <div style="white-space:nowrap; float:right; width:50px; text-align:center; border-bottom: 1px solid;">
    <% unless @agreement.wd49 != nil %>
      ?
    <% end %>
    <%= @agreement.wd49 %>
  </div>
  <div style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 1px solid;">
    <% unless @agreement.item49 != "" %>
      Null
    <% end %>
    <%= @agreement.item49 %>
  </div>

</div>




