<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this 
        agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee %>
  </div>

  <br />

  <h3>Contact Information:</h3>
  <table>
  <tr>
    <td><div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div></td>
    <td><div class="field">
    <%= f.label "Telephone" %><br />
    <%= f.text_field :phone %>
  </div></td>
  </tr>
  <tr>
    <td><div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
    </div></td>
    <td><div class="field">
    <%= f.label "Mailbox" %><br />
    <%= f.text_field :box %>
  </div></td>
  </tr>
</table>

  <br />

  
  <h3>Performance Information</h3>

  <div class="field">
    <%= f.label "Title of Performance" %><br />
    <%= f.text_field :title %>
  </div>
  <table>
  <tr>
    <td><div class="field">
    <%= f.label "Performance Start Date" %><br />
    <%= f.date_select :perfstart %>
    </div></td>
    <td><div class="field">
    <%= f.label "Performance End Date" %><br />
    <%= f.date_select :perfend %>
    </div></td>
  </tr>
  <tr>
    <td><div class="field">
    <%= f.label "Due Date" %><br />
    <%= f.date_select :duedate, :default => 2.weeks.from_now %>
    </div></td>
    <td><div class="field">
    <%= f.label "Who Is Financing (Theater, Dance, or Other)?" %><br />
    <%= f.text_field :financer %>
    </div></td>
  </tr>
</table>

  <br />


  <h3>Items Damaged or Lost</h3>
  <div id="full_width_div">
    <div class="invoice_under">
      Cost
    </div>
    <div class="description">
      Items Lost/Damaged
    </div>

    <div class="num2">1</div>
    <div class="pull_left field">
      <%= f.text_field :lost0 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost0 %>
    </div><br />

    <div class="num2">2</div>
    <div class="pull_left field">
      <%= f.text_field :lost1 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost1 %>
    </div><br />

    <div class="num2">3</div>
    <div class="pull_left field">
      <%= f.text_field :lost2 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost2 %>
    </div><br />

    <div class="num2">4</div>
    <div class="pull_left field">
      <%= f.text_field :lost3 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost3 %>
    </div><br />

    <div class="num2">5</div>
    <div class="pull_left field">
      <%= f.text_field :lost4 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost4 %>
    </div><br />


  </div>



  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
