<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this 
        agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee, :required => true %>
  </div>

  <br />

  <h3>Contact Information:</h3>
  <table>
  <tr>
    <td><div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div></td>
    <td><div class="field">
    <%= f.label "Telephone" %><br />
    <%= f.text_field :phone %>
  </div></td>
  </tr>
  <tr>
    <td><div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
    </div></td>
    <td><div class="field">
    <%= f.label "Mailbox" %><br />
    <%= f.text_field :box %>
  </div></td>
  </tr>
</table>

  <br />

  
  <h3>Performance Information</h3>

  <div class="field">
    <%= f.label "Title of Performance" %><br />
    <%= f.text_field :title %>
  </div>
  <table>
  <tr>
    <td><div class="field">
    <%= f.label "Performance Start Date" %><br />
    <%= f.date_select :perfstart %>
    </div></td>
    <td><div class="field">
    <%= f.label "Performance End Date" %><br />
    <%= f.date_select :perfend %>
    </div></td>
  </tr>
  <tr>
    <td><div class="field">
    <%= f.label "Due Date" %><br />
    <%= f.date_select :duedate, :default => 2.weeks.from_now %>
    </div></td>
    <td><div class="field">
    <%= f.label "Who Is Financing (Theater, Dance, or Other)?" %><br />
    <%= f.text_field :financer %>
    </div></td>
  </tr>
</table>

  <br />


  <h3>Items Damaged or Lost</h3>
  <div id="full_width_div">
    <div class="invoice_under">
      Cost
    </div>
    <div class="description">
      Items Lost/Damaged
    </div>

    <div class="num2">1</div>
    <div class="pull_left field">
      <%= f.text_field :lost0 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost0 %>
    </div><br /><br />

        <div class="num2">2</div>
    <div class="pull_left field">
      <%= f.text_field :lost1 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost1 %>
    </div><br /><br />
    
    <div class="num2">3</div>
    <div class="pull_left field">
      <%=  f.text_field :lost2 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost2 %>
    </div><br /><br />

    <div class="num2">4</div>
    <div class="pull_left field">
      <%= f.text_field :lost3 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost3 %>
    </div><br /><br />

    <div class="num2">5</div>
    <div class="pull_left field">
      <%= f.text_field :lost4 %>
    </div>
    <div class="invoice field">
      $<%= f.text_field :cost4 %>
    </div><br />

  </div>

  <br /><br />

  <h3>Dry Cleaning Information</h3>
  <div id="full_width_div">
    <div class="invoice_under">
      # of Garments/Invoice
    </div>
    <div class="description">
      Dry Cleaning Invoice #
    </div>

    <div class="num2">1</div>
    <div class="pull_left field">
      #<%= f.number_field :dry0 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar0 %>
    </div><br /><br />

    <div class="num2">2</div>
    <div class="pull_left field">
      #<%= f.number_field :dry1 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar1 %>
    </div><br /><br />

    <div class="num2">3</div>
    <div class="pull_left field">
      #<%= f.number_field :dry2 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar2 %>
    </div><br /><br />

    <div class="num2">4</div>
    <div class="pull_left field">
      #<%= f.number_field :dry3 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar3 %>
    </div><br /><br />

    <div class="num2">5</div>
    <div class="pull_left field">
      #<%= f.number_field :dry4 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar4 %>
    </div><br /><br />

    <div class="num2">6</div>
    <div class="pull_left field">
      #<%= f.number_field :dry5 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar5 %>
    </div><br /><br />

    <div class="num2">7</div>
    <div class="pull_left field">
      #<%= f.number_field :dry6 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar6 %>
    </div><br /><br />

    <div class="num2">8</div>
    <div class="pull_left field">
      #<%= f.number_field :dry7 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar7 %>
    </div><br /><br />

    <div class="num2">9</div>
    <div class="pull_left field">
      #<%= f.number_field :dry8 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar8 %>
    </div><br /><br />

    <div class="num2">10</div>
    <div class="pull_left field">
      #<%= f.number_field :dry9 %>
    </div>
    <div class="invoice field">
      #<%= f.number_field :gar9 %>
    </div><br /><br />

  </div>
  <br /> <br />

  <h3>Costumes</h3>
  <div id="full_width_div">
    <div class="number">
      #
    </div>
    <div class="back">
      Back?
    </div>
    <div class="photo3">
      Photo (Not working)
    </div>
    <div class="wd">
      W/D
    </div>
    <div class="description">
      Garment Description
    </div>

    <div class="num3">1</div>
    <div class="back2">
      <%= f.check_box :back00 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo00 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd00, "W" %>
      <%= f.radio_button :wd00, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item00 %>
    </div>

    <div class="num3">2</div>
    <div class="back2">
      <%= f.check_box :back01 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo01 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd01, "W" %>
      <%= f.radio_button :wd01, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item01 %>
    </div>

    <div class="num3">3</div>
    <div class="back2">
      <%= f.check_box :back02 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo02 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd02, "W" %>
      <%= f.radio_button :wd02, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item02 %>
    </div>

    <div class="num3">4</div>
    <div class="back2">
      <%= f.check_box :back03 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo03 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd03, "W" %>
      <%= f.radio_button :wd03, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item03 %>
    </div>

    <div class="num3">5</div>
    <div class="back2">
      <%= f.check_box :back04 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo04 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd04, "W" %>
      <%= f.radio_button :wd04, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item04 %>
    </div>

    <div class="num3">6</div>
    <div class="back2">
      <%= f.check_box :back05 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo05 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd05, "W" %>
      <%= f.radio_button :wd05, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item05 %>
    </div>

    <div class="num3">7</div>
    <div class="back2">
      <%= f.check_box :back06 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo06 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd06, "W" %>
      <%= f.radio_button :wd06, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item06 %>
    </div>

    <div class="num3">8</div>
    <div class="back2">
      <%= f.check_box :back07 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo07 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd07, "W" %>
      <%= f.radio_button :wd07, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item07 %>
    </div>

    <div class="num3">9</div>
    <div class="back2">
      <%= f.check_box :back08 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo08 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd08, "W" %>
      <%= f.radio_button :wd08, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item08 %>
    </div>

    <div class="num3">10</div>
    <div class="back2">
      <%= f.check_box :back09 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo09 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd09, "W" %>
      <%= f.radio_button :wd09, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item09 %>
    </div>

    <div class="num3">11</div>
    <div class="back2">
      <%= f.check_box :back10 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo10 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd10, "W" %>
      <%= f.radio_button :wd10, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item10 %>
    </div>

    <div class="num3">12</div>
    <div class="back2">
      <%= f.check_box :back11 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo11 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd11, "W" %>
      <%= f.radio_button :wd11, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item11 %>
    </div>

    <div class="num3">13</div>
    <div class="back2">
      <%= f.check_box :back12 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo12 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd12, "W" %>
      <%= f.radio_button :wd12, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item12 %>
    </div>

    <div class="num3">14</div>
    <div class="back2">
      <%= f.check_box :back13 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo13 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd13, "W" %>
      <%= f.radio_button :wd13, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item13 %>
    </div>

    <div class="num3">15</div>
    <div class="back2">
      <%= f.check_box :back14 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo14 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd14, "W" %>
      <%= f.radio_button :wd14, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item14 %>
    </div>

    <div class="num3">16</div>
    <div class="back2">
      <%= f.check_box :back15 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo15 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd15, "W" %>
      <%= f.radio_button :wd15, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item15 %>
    </div>

    <div class="num3">17</div>
    <div class="back2">
      <%= f.check_box :back16 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo16 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd16, "W" %>
      <%= f.radio_button :wd16, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item16 %>
    </div>

    <div class="num3">18</div>
    <div class="back2">
      <%= f.check_box :back17 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo17 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd17, "W" %>
      <%= f.radio_button :wd17, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item17 %>
    </div>

    <div class="num3">19</div>
    <div class="back2">
      <%= f.check_box :back18 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo18 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd18, "W" %>
      <%= f.radio_button :wd18, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item18 %>
    </div>

    <div class="num3">20</div>
    <div class="back2">
      <%= f.check_box :back19 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo19 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd19, "W" %>
      <%= f.radio_button :wd19, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item19 %>
    </div>

    <div class="num3">21</div>
    <div class="back2">
      <%= f.check_box :back20 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo20 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd20, "W" %>
      <%= f.radio_button :wd20, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item20 %>
    </div>

    <div class="num3">22</div>
    <div class="back2">
      <%= f.check_box :back21 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo21 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd21, "W" %>
      <%= f.radio_button :wd21, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item21 %>
    </div>

    <div class="num3">23</div>
    <div class="back2">
      <%= f.check_box :back22 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo22 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd22, "W" %>
      <%= f.radio_button :wd22, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item22 %>
    </div>

    <div class="num3">24</div>
    <div class="back2">
      <%= f.check_box :back23 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo23 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd23, "W" %>
      <%= f.radio_button :wd23, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item23 %>
    </div>

    <div class="num3">25</div>
    <div class="back2">
      <%= f.check_box :back24 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo24 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd24, "W" %>
      <%= f.radio_button :wd24, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item24 %>
    </div>

    <div class="num3">26</div>
    <div class="back2">
      <%= f.check_box :back25 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo25 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd25, "W" %>
      <%= f.radio_button :wd25, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item25 %>
    </div>

    <div class="num3">27</div>
    <div class="back2">
      <%= f.check_box :back26 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo26 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd26, "W" %>
      <%= f.radio_button :wd26, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item26 %>
    </div>

    <div class="num3">28</div>
    <div class="back2">
      <%= f.check_box :back27 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo27 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd27, "W" %>
      <%= f.radio_button :wd27, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item27 %>
    </div>

    <div class="num3">29</div>
    <div class="back2">
      <%= f.check_box :back28 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo28 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd28, "W" %>
      <%= f.radio_button :wd28, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item28 %>
    </div>

    <div class="num3">30</div>
    <div class="back2">
      <%= f.check_box :back29 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo29 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd29, "W" %>
      <%= f.radio_button :wd29, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item29 %>
    </div>

    <div class="num3">31</div>
    <div class="back2">
      <%= f.check_box :back30 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo30 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd30, "W" %>
      <%= f.radio_button :wd30, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item30 %>
    </div>

    <div class="num3">32</div>
    <div class="back2">
      <%= f.check_box :back31 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo31 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd31, "W" %>
      <%= f.radio_button :wd31, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item31 %>
    </div>

    <div class="num3">33</div>
    <div class="back2">
      <%= f.check_box :back32 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo32 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd32, "W" %>
      <%= f.radio_button :wd32, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item32 %>
    </div>

    <div class="num3">34</div>
    <div class="back2">
      <%= f.check_box :back33 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo33 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd33, "W" %>
      <%= f.radio_button :wd33, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item33 %>
    </div>

    <div class="num3">35</div>
    <div class="back2">
      <%= f.check_box :back34 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo34 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd34, "W" %>
      <%= f.radio_button :wd34, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item34 %>
    </div>

    <div class="num3">36</div>
    <div class="back2">
      <%= f.check_box :back35 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo35 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd35, "W" %>
      <%= f.radio_button :wd35, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item35 %>
    </div>

    <div class="num3">37</div>
    <div class="back2">
      <%= f.check_box :back36 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo36 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd36, "W" %>
      <%= f.radio_button :wd36, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item36 %>
    </div>

    <div class="num3">38</div>
    <div class="back2">
      <%= f.check_box :back37 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo37 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd37, "W" %>
      <%= f.radio_button :wd37, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item37 %>
    </div>

    <div class="num3">39</div>
    <div class="back2">
      <%= f.check_box :back38 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo38 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd38, "W" %>
      <%= f.radio_button :wd38, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item38 %>
    </div>

    <div class="num3">40</div>
    <div class="back2">
      <%= f.check_box :back39 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo39 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd39, "W" %>
      <%= f.radio_button :wd39, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item39 %>
    </div>

    <div class="num3">41</div>
    <div class="back2">
      <%= f.check_box :back40 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo40 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd40, "W" %>
      <%= f.radio_button :wd40, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item40 %>
    </div>

    <div class="num3">42</div>
    <div class="back2">
      <%= f.check_box :back41 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo41 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd41, "W" %>
      <%= f.radio_button :wd41, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item41 %>
    </div>

    <div class="num3">43</div>
    <div class="back2">
      <%= f.check_box :back42 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo42 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd42, "W" %>
      <%= f.radio_button :wd42, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item42 %>
    </div>

    <div class="num3">44</div>
    <div class="back2">
      <%= f.check_box :back43 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo43 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd43, "W" %>
      <%= f.radio_button :wd43, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item43 %>
    </div>

    <div class="num3">45</div>
    <div class="back2">
      <%= f.check_box :back44 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo44 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd44, "W" %>
      <%= f.radio_button :wd44, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item44 %>
    </div>

    <div class="num3">46</div>
    <div class="back2">
      <%= f.check_box :back45 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo45 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd45, "W" %>
      <%= f.radio_button :wd45, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item45 %>
    </div>

    <div class="num3">47</div>
    <div class="back2">
      <%= f.check_box :back46 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo46 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd46, "W" %>
      <%= f.radio_button :wd46, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item46 %>
    </div>

    <div class="num3">48</div>
    <div class="back2">
      <%= f.check_box :back47 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo47 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd47, "W" %>
      <%= f.radio_button :wd47, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item47 %>
    </div>

    <div class="num3">49</div>
    <div class="back2">
      <%= f.check_box :back48 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo48 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd48, "W" %>
      <%= f.radio_button :wd48, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item48 %>
    </div>

    <div class="num3">50</div>
    <div class="back2">
      <%= f.check_box :back49 %>
    </div>
    <div class="photo2">
      <%= f.file_field :photo49 %>
    </div>
    <div class="wd2">
      <%= f.radio_button :wd49, "W" %>
      <%= f.radio_button :wd49, "D" %>
    </div>
    <div class="description">
      <%= f.text_field :item49 %>
    </div>





  </div>


  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
