<h1>Listing agreements</h1>

<div>

  <div class="pull_right">
<table border="1">
  <tr class="issue"> <td> This agreement has a major issue. </td> </tr>
  <tr class="fees"> <td> This agreement has fees. </td> </tr>
  <tr class="overdue"> <td> This agreement has overdue items. </td> </tr>
  <tr class="dry-clean"> <td> This agreement has items at the dry cleaner. </td> </tr>
  <tr class="out"> <td> This agreement has costumes out. </td> </tr>
  <tr class="complete"> <td> This agreement is complete. </td> </tr>

</table>
</div>


  <div >

<table border="1">
  <tr>
    <th>Lendee</th>
    <th>Due Date</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.sort_by! { |k| k.duedate } %>
<% @agreements.each do |agreement| %>
  <% if agreement.major_prob %>
    <tr class="issue">
  <% elsif agreement.has_cost %>
    <tr class="fees">
  <% elsif agreement.duedate < Date.today  %>
    <tr class="overdue">
  <% elsif agreement.is_at_dry %>
    <tr class="dry-clean">
  <% elsif agreement.is_out %>
    <tr class="out">
  <% elsif agreement.is_done %>
    <tr class="complete">
  <% else %>
    <tr>
  <% end %>
    <td><%= agreement.name %></td>
    <td><%= agreement.duedate %></td>
    <td><%= agreement.employee %></td>
    <td><%= link_to 'Show', agreement %></td>
    <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
    <td><%= link_to 'Destroy', agreement, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>


</div>

<br />

<div>
  <%= link_to 'New Agreement', new_agreement_path %>
</div>
