<h1>Listing agreements</h1>

<table>
  <tr>
    <th>Lendee</th>
    <th>Due Date</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.name %></td>
    <td><%= agreement.duedate %></td>
    <td><%= agreement.employee %></td>
    <td><%= link_to 'Show', agreement %></td>
    <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
    <td><%= link_to 'Destroy', agreement, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agreement', new_agreement_path %>
